body {
  background: rgb(99, 39, 120)
}

.container{
  border-color:#484646;
  border-style: solid;
  border-width: 4px;
  border-radius:10px;
  margin-top: 20px;
  margin-left: 103px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.dropdown-toggle{
  width: 33px;
  height: 32px;
  margin-left: 1320px;
}

.loginpng:hover{
  cursor: pointer;
}

.dropdown{
  margin-left:80px;
}

#mainpagelogo{
  margin-left: 30px;
  color:black;
}

#mainpagelogo:hover{
  cursor: pointer;
}

.dropdown-menu{
  margin-left: 1200px;
  width:50px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.dropdown-item:hover{
  background-color: #ddd8d8;
}
