<footer class="page-footer font-small blue pt-4 bg-warning">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
            <img id="logoimg" src="assets/complogo.png" alt="logo">
            <p id="compara">Empowering Minds, Changing Lives..</p>
        </div>

        <hr class="clearfix w-100 d-md-none pb-0"/>

        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase"><u><b>Branches</b></u></h5>
            <ul class="list-unstyled">
                <li>West Bengal</li>
                <li>Delhi</li>
                <li>Bangalore</li>
                <li>Punjab</li>
            </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase"><u><b>Social Links</b></u></h5>
          <ul class="list-unstyled">
              <a rel="https://www.linkedin.com/in/shibom-kumar-bhowmik-9709081b8/" target="_blank"><img id="lnkdpng" src="assets/lnkd.png" alt="linkedinlogo"></a>
              <a rel="https://www.linkedin.com/in/shibom-kumar-bhowmik-9709081b8/" target="_blank"><img id="lnkdpng" src="assets/fb.png" alt="fblogo"></a>
              <a rel="https://www.linkedin.com/in/shibom-kumar-bhowmik-9709081b8/" target="_blank"><img id="lnkdpng" src="assets/insta.png" alt="instalogo"></a>
          </ul>
        </div>
    </div>

    <div className="footer-copyright text-center py-3"><b>© 2023 All Rights Reserved :</b>
      <a rel="https://www.linkedin.com/in/shibom-kumar-bhowmik-9709081b8/" target="_blank"> <b> Coding Minds Academy</b></a>
  </div>
</div>
</footer>