#logo{
  margin-left:40px;
  margin-top: 1px;
  width: 200px;
  height: 45px;
}

.dropdown-menu{
  margin-left: -75px;
  width:50px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.dropdown-item:hover{
  background-color: #ddd8d8;
}

.dropdown-toggle{
  width: 33px;
  height: 32px;
}

.loginpng:hover{
  cursor: pointer;
}

.dropdown{
  margin-left:50px;
}

