 <nav id="nav" class="d-flex navbar navbar-expand-lg navbar-light bg-warning sticky-top">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/complogo.png" alt="logo" id="logo" />
  </a>

  <a routerLink="/cart" routerLinkActive="active" id="cart"><b>Cart</b></a>
  <a roterLink="/orders" routerLinkActive="active" id="orders"><b>Orders</b></a>

  <div class="dropdown">
    <img class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" src="assets/login.png" alt="login"/>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li id="proli"><a class="dropdown-item" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li id="proli"><a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li id="proli"><a class="dropdown-item" routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
      </ul>
   </div>
</nav>
<br/>
<br/>
<br/>
<br/>

<div id="btncollection">
    <input type="text" [(ngModel)]="searchTxt" placeholder="Search" id="search"/>
    <i id="magicon" class="fa-solid fa-magnifying-glass fs-4 p-2"></i>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Sort By Rating<span class="caret"></span></button>
      <ul id="dropdownagain"  class="dropdown-menu">
        <li><a rel="noopener" (click)="sortByRatingIncreaseToDecrease()">High to low</a></li>
        <li><a rel="noopener" (click)="sortByRatingDecreaseToIncrease()">Low to High</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Sort By Category<span class="caret"></span></button>
      <ul id="dropdownagain" class="dropdown-menu">
        <li><a rel="noopener" (click)="sortByCategory('Programming Language')">Language</a></li>
        <li><a rel="noopener" (click)="sortByCategory('Web Development')">Web dev</a></li>
        <li><a rel="noopener" (click)="sortByCategory('Data Science')">AI/ML</a></li>
        <li><a rel="noopener" (click)="sortByCategory('DSA')">DSA</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Sort By Price<span class="caret"></span></button>
      <ul id="dropdownagain"  class="dropdown-menu">
        <li><a rel="noopener" (click)="sortByPriceIncreaseToDecrease()">High to low</a></li>
        <li><a rel="noopener" (click)="sortByPriceDecreaseToIncrease()">Low to high</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary" type="button" (click)="viewAll()">View All Courses</button>
    </div>
</div>

<hr/>

<!-- <div class="course-container">
  <div class="course-card" *ngFor="let course of courses">
    <h2>{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <p>Instructor: {{ course.instructor }}</p>
    <p>Duration: {{ course.duration }} hours</p>
  </div>
</div> -->

  <div class="course-container col-sm-12 col-lg-3">
    <div class="card" *ngFor="let course of filteredCourses">
      <img src="{{course.imageUrl}}" class="card-img-top" alt="courseimg">
      <div class="card-body">
        <h4 class="card-title">{{course.name}}</h4>
        <p class="card-text">{{course.description}}</p>
        <p>
        <u>Educator</u> : {{course.educator}}
      </p>
      <p>
        Rating : <ngb-rating [max]="5" [rate]="course.rating" [readonly]="true"></ngb-rating>({{course.rating}}k ratings)
      </p>
      <p>Price : ₹{{course.price}}</p>
      <a  (click)="handleCourse(course.id)" ><button type="button" class="btn btn-primary">View Course</button></a>
      </div>
    </div> 			
  </div>

<br/>
<app-footer></app-footer>
