#logo{
  margin-left:40px;
  margin-top: 1px;
  width: 200px;
  height: 45px;
}

.dropdown-menu{
  margin-left: -75px;
  width:50px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.dropdown-item:hover{
  background-color: #ddd8d8;
}

.dropdown-toggle{
  width: 33px;
  height: 32px;
}

.loginpng:hover{
  cursor: pointer;
}

.dropdown{
  margin-left:50px;
}

#cart{
  text-decoration: none;
  color: black;
  font-size: 19px;
  margin-left: 1020px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#orders{
  text-decoration: none;
  color: black;
  font-size: 19px;
  margin-left: 29px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#cart:hover{
  color: #3a3e39;
  cursor: pointer;
}

#orders:hover{
  color: #3a3e39;
  cursor: pointer;
}

.card{
  width: 340px;
  height: 570px;
  margin: auto;
  border:1px solid #3a3e39;
}

p{
  text-align: justify;
  word-wrap:break-word;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

ngb-rating {
  color: rgb(228, 191, 28);
  font-size: 25px;
}

.btn{
  float:right;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.course-container{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

::ng-deep #nav{
  position: fixed;
  width:100%;
  z-index:100;
}

#search{
  margin-left: 80px;
  margin-top: 9px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3a3e39;
  padding-left: 10px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#magicon{
  margin-left: -40px;
  margin-top: 7px;
  width: 30px;
  height: 30px;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #20211f;
}

#btncollection{
  display: flex;
}

.btn{
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 9px;
  width: 160px;
  height: 42px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#dropdownagain{
  width:150px;
  margin-left:5px;
  margin-top:4px;
}

a:hover{
  cursor:pointer;
}

li:hover{
  cursor:pointer;
  background: #d3d3d3;
}