<body>
  <img src="assets/complogo.png" alt="logo" id="logo" />
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <h3><u>Welcome Coder</u></h3>

    <label for="username">Username</label>
    <input type="email" placeholder="Email" id="username" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}" required="true">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" [(ngModel)]="userPassword" [ngModelOptions]="{standalone: true}" required="true">

    <button id="login" type="submit">Log In</button>
    <div id="signup">Not a User ? <a routerLink="/signup" routerLinkActive="active">Sign Up</a></div>
  </form>

  <!-- <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <h3><u>Welcome Coder</u></h3>
    <div class="form-group">

      <label for="email">Email address</label>

      <input formControlName="email" type="email" id="email" placeholder="Enter email" required/>

      <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="text-danger">

         Incorrect E-mail.
      </div>
    </div>

    <div class="form-group">

      <label for="password">Password</label>

      <input formControlName="password" type="password" id="password" placeholder="Password" />

    </div>

    <button id="login" type="submit">Log In</button>
    <div id="signup">Not a User ? <a routerLink="/signup" routerLinkActive="active">Sign Up</a></div>

  </form> -->
</body>