<br/>
<div id="chead">
  <u><b>Meet some of our faculty</b></u>
</div>

<div class="body">
      <img src='assets/edu1.jpg' width="400" height="300" alt='hitchou'>

      <div>
        <h2>Hitesh Choudhury</h2>
        <p>
          Hitesh Choudhury is an extraordinary educator who possesses a rare combination of passion, expertise, and dedication in the field of teaching. With a natural flair for communication and a deep understanding of his subject matter, he captivates his students' attention and makes learning a delightful experience. Hitesh's innovative teaching methods and creative approaches ensure that complex concepts are made comprehensible, fostering a love for learning among his students. Beyond the classroom, Hitesh Choudhury is a mentor and a guiding light, always ready to provide support and encouragement to his students. He goes the extra mile to identify individual strengths and weaknesses, tailoring his teaching to cater to diverse learning styles.</p>
      </div>
      
      <div id="widestriver">
        <h2 id="striverh2">Raj Vikramaditya(Striver)</h2>
        <p id="striverp">Meet Raj, an exceptional coding educator with a profound passion for Data Structures and Algorithms (DSA). With a wealth of knowledge and expertise in the field, Raj is a guiding light for aspiring programmers seeking to master the art of efficient problem-solving and algorithmic thinking.
          Raj's teaching style is renowned for its clarity, simplicity, and effectiveness. He takes complex DSA concepts and breaks them down into easily understandable steps, making the learning process enjoyable and accessible to all. Through well-crafted explanations and practical examples, Raj empowers his students to grasp fundamental DSA principles and apply them in real-world scenarios.
        </p>
      </div>
      <img id="striverimg" src='assets/edu2.jpg' width="400" height="300" alt='striver'>


      <img src='assets/edu3.jpg' width="400" height="300" alt='mosh'>
      <div>
        <h2>Mosh Hamedani</h2>
        <p>Mosh Hamedani is a prominent and highly regarded educator in the world of technology and programming. With a passion for teaching and an extensive background in software development, Mosh has earned a reputation for delivering clear, concise, and engaging courses that resonate with learners of all levels. His ability to break down complex concepts into easily digestible pieces makes learning challenging subjects an enjoyable and rewarding experience. Beyond his technical expertise, Mosh is admired for his genuine passion for helping others succeed. He creates a supportive and inclusive learning environment, fostering a sense of community among his students.</p>
      </div>
</div>
