#logo{
  margin-left:50px;
  margin-top: 1px;
  width: 200px;
  height: 45px;
}

.dropdown-menu{
  margin-left: -75px;
  width:50px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.dropdown-item:hover{
  background-color: #ddd8d8;
}

.dropdown-toggle{
  width: 33px;
  height: 32px;
}

.loginpng:hover{
  cursor: pointer;
}

.dropdown{
  margin-left:50px;
}

#cart{
  text-decoration: none;
  color: black;
  font-size: 19px;
  margin-left: 50px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#cart:hover{
  color: #3a3e39;
  cursor: pointer;
}

#courses{
  text-decoration: none;
  color: black;
  font-size: 19px;
  margin-left: 1050px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#courses:hover{
  color: #3a3e39;
  cursor: pointer;
}

#logout{
  cursor:pointer;
}

::ng-deep #nav{
  position: fixed;
  width:100%;
  z-index:100;
}

#head{
  margin-top: 15px;
  margin-left: 50px;
  font-size: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card{
  width: 340px;
  height: 570px;
  margin: auto;
  border:1px solid #3a3e39;
}

p{
  text-align: justify;
  word-wrap:break-word;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

ngb-rating {
  color: rgb(228, 191, 28);
  font-size: 25px;
}

.btn{
  float:right;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.course-container{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}