<nav id="nav" class="d-flex navbar navbar-expand-lg navbar-light bg-warning sticky-top">
  <a routerLink="/home" routerLinkActive="active">
    <img src="assets/complogo.png" alt="logo" id="logo" />
  </a>

  <a routerLink="/courses" routerLinkActive="active" id="courses"><b>Courses</b></a>
  <!-- <a routerLink="/enrolledcourses" routerLinkActive="active" id="cart"><b>Enrolled Courses</b></a> -->

  <div class="dropdown">
    <img class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" src="assets/login.png" alt="login"/>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li id="proli"><a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li id="logout"><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
   </div>
</nav>
<br/>
<br/>
<br/>
<div id="head">
  Hi {{name}},here are your Enrolled Courses
</div>

<div class="course-container col-sm-12 col-lg-3">
  <div class="card" *ngFor="let course of courses">
    <img src="{{course.imageUrl}}" class="card-img-top" alt="courseimg">
    <div class="card-body">
      <h4 class="card-title">{{course.name}}</h4>
      <p class="card-text">{{course.description}}</p>
      <p>
      <u>Educator</u> : {{course.educator}}
    </p>
    <p>
      Rating : <ngb-rating [max]="5" [rate]="course.rating" [readonly]="true"></ngb-rating>({{course.rating}}k ratings)
    </p>
    <p>Price : ₹{{course.price}}</p>
    <a  (click)="studyCourse()" ><button type="button" class="btn btn-primary">View Course</button></a>
    </div>
  </div> 			
</div>
<br/>
<br/>


<app-footer></app-footer>