<br/>
<div id="chead">
  <u><b>Top Rated Courses</b></u>
</div>

<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card">
						 				<img src="assets/c++.png" class="card-img-top" alt="courseimg">
						 				<div class="card-body">
						 					<h4 class="card-title">C++ : Beginner to Advanced</h4>
						 					<p class="card-text">Classroom and Hands-on sessions- Features of C++ 11 , Exception Handling and STL - for Both Academics and Industry.</p>
                      <p>
                        <u>Educator</u> : Striver
                      </p>
                      <p>
                        Rating : <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating> (2k ratings)
                      </p>
						 					<a routerLink="/courses" routerLinkActive="active" ><button type="button" class="btn btn-primary">View Courses</button></a>
						 				</div>
						 			</div>
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card">
						 				<img src="assets/csharp.jpg" class="card-img-top" alt="courseimg">
						 				<div class="card-body">
						 					<h4 class="card-title">C# : Zero to Hero</h4>
						 					<p class="card-text">Learn C# by doing | C# projects | Bootcamp for C# Interview | Advanced C# | Collections | LINQ | Interview Questions. Be interview ready.</p>
                       <p>
                        <u>Educator</u> : Mosh Hamedani
                      </p>
                      <p>
                        Rating : <ngb-rating [max]="5" [rate]="5" [readonly]="true"></ngb-rating> (1k ratings)
                      </p>
											<a routerLink="/courses" routerLinkActive="active" ><button type="button" class="btn btn-primary">View Courses</button></a>
						 				</div>
						 			</div> 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card">
						 				<img src="assets/python.jpg" class="card-img-top" alt="courseimg">
						 				<div class="card-body">
						 					<h4 class="card-title">Python Bootcamp From Zero to Hero in Python</h4>
						 					<p class="card-text">Start from the basics and go all the way to creating your own applications and games.
                      </p>
                      <p>
                        <u>Educator</u> : Striver
                      </p>
                      <p>
                        Rating : <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>
                         (7k ratings)
                      </p>
											<a routerLink="/courses" routerLinkActive="active" ><button type="button" class="btn btn-primary">View Courses</button></a>
						 				</div>
						 			</div>
						 		</div>
						 	 </div>
						 </div>	
					</div>
					 <div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card">
						 				<img src="assets/dsa.jpg" class="card-img-top" alt="courseimg">
						 				<div class="card-body">
						 					<h4 class="card-title">Mastering Data Structures & Algorithms using C and C++</h4>
						 					<p class="card-text">Learn, Analyse and Implement Data Structure using C and C++. Learn Recursion and Sorting.
                      </p>
                      <p>
                        <u>Educator</u> : Striver
                      </p>
                      <p>
                        Rating : <ngb-rating [max]="5" [rate]="5" [readonly]="true"></ngb-rating>
                        (3k ratings)
                      </p>
											<a routerLink="/courses" routerLinkActive="active" ><button type="button" class="btn btn-primary">View Courses</button></a>
						 				</div>
						 			</div>		
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card">
						 				<img src="assets/reactjs.png" class="card-img-top" alt="courseimg">
						 				<div class="card-body">
						 					<h4 class="card-title">React - The Complete Guide 2023(React Router & Redux)</h4>
						 					<p class="card-text">Dive in and learn React.js from scratch! Learn React, Hooks, Redux, React Router, Next.js, with exercises.</p>
                       <p>
                        <u>Educator</u> : Hitesh Choudhury
                      </p>
                      <p>
                        Rating : <ngb-rating [max]="5" [rate]="4" [readonly]="true"></ngb-rating>(11k ratings)
                      </p>
											<a routerLink="/courses" routerLinkActive="active" ><button type="button" class="btn btn-primary">View Courses</button></a>
						 				</div>
						 			</div>			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card">
						 				<img src="assets/nodejs.jpg" class="card-img-top" alt="courseimg">
						 				<div class="card-body">
						 					<h4 class="card-title">NodeJS - The Complete Guide (MVC, REST APIs, GraphQL, Deno)</h4>
						 					<p class="card-text">Master Node JS & Deno.js, build REST APIs with Node.js & much more!</p>
                       <p>
                        <u>Educator</u> : Hitesh Choudhury
                      </p>
                      <p>
                        Rating : <ngb-rating [max]="5" [rate]="5" [readonly]="true"></ngb-rating>(8k ratings)
                      </p>
											<a routerLink="/courses" routerLinkActive="active" ><button type="button" class="btn btn-primary">View Courses</button></a>
						 				</div>
						 			</div>
						 		</div>
						 	</div>
						 </div>
					</div>		
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<br/>

<a id="sidebtnanchor" routerLink="/courses" routerLinkActive="active">
  <div id="sidebtn">
    <b><u>Explore More Courses</u></b>
  </div>
</a>
<br/>