<app-header></app-header>

<!-- marketing section with carousal -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/carosalpic1.jpg" class="d-block w-100" alt="carpic1">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="carousalh5">Unleash Your Potential With Us</h5>
        <p class="carousalp">Get everything under your finger-tips to chase this fast paced world with Coding Minds Academy</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/p2.jpg" class="d-block w-100" alt="carpic2">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="carousalh5">Dream it, chase it, achieve it - you're destined for greatness, believe it!</h5>
        <p class="carousalp">Clear all your doubts with our mentor and TA support</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/p3.jpg" class="d-block w-100" alt="carpic3">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="carousalh5">Strive for excellence, with each stride, let your dreams come alive!</h5>
        <p class="carousalp">
          Your mind is your greatest asset - nourish it, get interview ready with us and get your dream job
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<app-homecourses></app-homecourses>
<app-educators></app-educators>
<app-hirecomp></app-hirecomp>
<app-studfeed></app-studfeed>


<app-footer></app-footer>


